# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2026 Nate Graham <nate@kde.org>

[Unit]
Description=Install any new Flatpak apps added to booted OS version
ConditionPathIsReadWrite=/etc
ConditionKernelCommandLine=!kde-linux.live=1
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/install-new-flatpaks
