# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2026 Hadi Chokr <hadichokr@icloud.com>

# Instance name is the uid, courtesy of the user@.service drop-in.

[Unit]
Description=Create Snapper Config for UID %i
Documentation=https://invent.kde.org/kde-linux/kde-linux/-/work_items/745
ConditionPathIsReadWrite=/etc
ConditionKernelCommandLine=!kde-linux.live=1
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
ExecCondition=/usr/bin/test %i -ge 1000
ExecCondition=/usr/bin/test %i -lt 65534
ExecStart=/usr/lib/snapper-home-config %i
