# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2025 Thomas Duckworth <tduck@filotimoproject.org>

[Unit]
Description=Automatically Show Bootloader on Boot - Hidden on Blessed Boot
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
# If the system either is not blessed or is forcibly shut down for some reason,
# the boot menu timeout is reset to default, and the menu is shown.
# This shows the bootloader on startup, for it to then be hidden once
# kde-linux-bless-boot.service blesses the system.
ExecStart=/usr/lib/auto-hide-bootloader show

[Install]
WantedBy=sysinit.target