# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2026 Thomas Duckworth <tduck@filotimoproject.org>

# This runs the bootstrapping executable that's included in the OpenQA sysext image.

[Unit]
Description=Bootstrap OpenQA Testing Environment
ConditionVirtualization=vm
ConditionPathIsMountPoint=/run/extensions/openqa

After=run-extensions-openqa.mount systemd-sysext.service network-online.target
Before=display-manager.service
Wants=network-online.target

[Service]
Type=oneshot
# Ensure the sysext is actually merged before we try to run the executable, otherwise it won't be found.
# In case the udev rule triggers too late.
ExecStartPre=systemd-sysext refresh
ExecStart=/usr/lib/openqa-bootstrap
RemainAfterExit=yes
TimeoutStartSec=300

[Install]
WantedBy=run-extensions-openqa.mount
