# SPDX-License-Identifier: GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2026 Nate Graham <nate@kde.org>

[Desktop Entry]
Categories=Qt;KDE;Documentation;
Comment=Get help with an issue
Comment[ar]=احصل على المساعدة بشأن مشكلة ما
Comment[ca]=Aconseguir ajuda amb un problema
Comment[ca@valencia]=Aconseguir ajuda amb un problema
Comment[es]=Obtener ayuda para un problema
Comment[eu]=Arazo bat konpontzeko laguntza lortu
Comment[fr]=Obtenir de l'aide sur un problème
Comment[he]=קבלת עזרה עם בעיה
Comment[ia]=Obtene adjuta  con un problema
Comment[it]=Ottieni aiuto con un problema
Comment[ka]=დახმარების მიღება პრობლემასთან დაკავშირებით
Comment[ko]=문제가 발생했을 때 도움 받기
Comment[nl]=Hulp krijgen bij een probleem
Comment[nn]=Få hjelp med problem
Comment[pt_BR]=Obtenha ajuda com um problema
Comment[sl]=Poiščite pomoč pri težavi
Comment[tr]=Bir konu ile ilgili yardım alın
Comment[uk]=Допомога з усуванням проблем
Comment[zh_CN]=获取帮助
Comment[zh_TW]=取得問題的幫助
Exec=xdg-open https://linux.kde.org/help/
GenericName=Help
GenericName[ar]=مساعدة
GenericName[ca]=Ajuda
GenericName[ca@valencia]=Ajuda
GenericName[es]=Ayuda
GenericName[eu]=Laguntza
GenericName[fr]=Aide
GenericName[he]=עזרה
GenericName[ia]=Adjuta
GenericName[it]=Aiuto
GenericName[ka]=დახმარება
GenericName[ko]=도움말
GenericName[nl]=Help
GenericName[nn]=Hjelp
GenericName[pt_BR]=Ajuda
GenericName[sl]=Pomoč
GenericName[tr]=Yardım
GenericName[uk]=Довідка
GenericName[zh_CN]=帮助
GenericName[zh_TW]=求助
Icon=help-browser
Name=Help & Support
Name[ar]=المساعدة والدعم
Name[ca]=Ajuda i suport
Name[ca@valencia]=Ajuda i suport
Name[es]=Ayuda y asistencia
Name[eu]=Laguntza eta euskarria
Name[fr]=Aide et assistance
Name[he]=עזרה ותמיכה
Name[ia]=Adjuta & Supporto
Name[it]=Aiuto e assistenza
Name[ka]=დახმარება და მხარდაჭერა
Name[ko]=도움과 지원
Name[nl]=Hulp & ondersteuning
Name[nn]=Hjelp og støtte
Name[pt_BR]=Ajuda e suporte
Name[sl]=Pomoč in podpora
Name[tr]=Yardım ve Destek
Name[uk]=Довідка і підтримка
Name[zh_CN]=帮助与支持
Name[zh_TW]=協助與支援
Type=Application
